<div class="w-[65%]">
  <h1 class="text-4xl font-bold pb-10">We're Hiring</h1>
  <div class="flex gap-16">
    <aside>
      <div class="border-t-2 text-sm border-accent-border py-3">
        <div class="max-w-[15rem]">
          Film Editor and Creatorr for Trading Content
        </div>
      </div>
      <div class="border-t-2 border-accent-border py-3">
        <div class="max-w-[15rem]">Full Stack Principal Software Developer</div>
      </div>
      <div class="border-t-2 border-accent-border py-3">
        <div class="max-w-[15rem]">
          Sr Principal Software Engineer - C++ Programmer
        </div>
      </div>
    </aside>
    <section
      class="border-[1px] flex bg-accent-gray rounded-2xl border-accent-border"
    >
      <div class="border-r-2 border-accent-border">
        <img src="../../assets/hiring-sesh.svg" alt="" />
      </div>
      <div class="text-xs">
        <div class="p-8 border-b-2 border-accent-border">
          <div class="pb-5">
            <h2 class="text-xl font-bold">
              Hiring a Film Editor and Creator for Trading Content
            </h2>
          </div>
          <div class="pb-5">
            We're looking to increase our exposure on social media, by creating
            more content (specificallyYoutube Videos + shorts and Reels on
            Instagram)
          </div>
          <ul class="pb-5">
            <li>
              You will be provided with Living rent free with me (Either in Los
              Angeles or New York, open to be discussed)
            </li>
            <li>Compensation is negotiable (DM to discuss)</li>
            <li>Become a Partner</li>
          </ul>
          <h2 class="text-base font-bold pb-5">
            Skills Needed (Most Important to Least Important)
          </h2>
          <ul>
            <li>Short Form Video Editing</li>
            <li>Lighting and Content Creation Setting Management</li>
            <li>Videography</li>
            <li>Photography</li>
            <li>Longform Video Editing</li>
          </ul>
        </div>
        <div class="flex p-8 justify-between">
          <p class="text-[10px]">
            Contact us at
            <span class="text-accent-email underline">kevin@xtrades.net</span>
            and include information about your previous works and experience tp
            set up an interview.
          </p>
          <button class="button-styler px-6 py-3">CONTACT US NOW</button>
        </div>
      </div>
    </section>
  </div>
</div>
