<div class="w-[65%]">
  <h1 class="text-4xl font-bold pb-10">We're Hiring</h1>
  <div class="flex gap-16">
    <aside class="font-normal">
      <div class="border-t-2 text-sm border-accent-border py-3">
        <div class="w-[16rem] font-semibold">
          Film Editor and Creatorr for Trading Content
        </div>
      </div>
      <div class="border-t-2 border-accent-border py-3">
        <div class="w-[16rem] opacity-50">
          Full Stack Principal Software Developer
        </div>
      </div>
      <div class="border-t-2 border-accent-border py-3">
        <div class="w-[16rem] opacity-50">
          Sr Principal Software Engineer - C++ Programmer
        </div>
      </div>
    </aside>
    <section
      class="border-[1px] flex bg-accent-gray rounded-2xl text-accent-color-text border-accent-border"
    >
      <div class="border-r-2 border-accent-border">
        <img src="../../assets/hiring-sesh.svg" alt="" />
      </div>
      <app-hiring-main-section></app-hiring-main-section>
    </section>
  </div>
</div>
