<nav class="flex p-6 justify-between items-center">
  <span>
    <span class="pr-10">
      <img class="inline-block pr-2" src="../../assets/Vector.svg" alt="Logo" />
      <img
        class="inline-block"
        src="../../assets/Asset1.svg"
        alt="Crypto Traders"
      />
    </span>
    <span class="text-sm">Home</span>
  </span>
  <span>
    <button class="pr-2">
      <div
        class="p-[1px] bg-gradient-to-tr rounded-md from-accent-aqua to-accent-greener"
      >
        <div class="bg-black py-1 text-accent-greener rounded-md px-4">
          Membership
        </div>
      </div>
    </button>
    <button class="button-styler px-4 py-1 rounded-md">Login</button>
  </span>
</nav>
