<nav class="flex p-6 justify-between items-center">
  <span class="flex items-center">
    <span class="pr-10 flex items-center">
      <img
        class="inline-block pr-2 w-8"
        src="../../assets/Vector.svg"
        alt="Logo"
      />
      <img
        class="inline-block h-6"
        src="../../assets/Asset1.svg"
        alt="Crypto Traders"
      />
    </span>
    <a class="text-sm" [routerLink]="['/']">Home</a>
  </span>
  <span>
    <a class="pr-2 inline-block" [routerLink]="['/careers']">
      <div
        class="p-[1px] bg-gradient-to-tr rounded-md from-accent-aqua to-accent-greener"
      >
        <div class="bg-black py-1 text-accent-greener rounded-md px-4">
          Membership
        </div>
      </div>
    </a>
    <a
      [routerLink]="['/careers']"
      class="inline-block button-styler px-4 py-1 rounded-md"
      >Login</a
    >
  </span>
</nav>
