<div class="flex flex-col">
  <div class="flex flex-col justify-center items-center gap-6">
    <div>
      <img class="scale-125" src="/assets/Asset1.svg" alt="Crypto Traders" />
    </div>
    <div class="flex text-center gap-2 items-center flex-col justify-center">
      <a
        [routerLink]="['/careers']"
        class="px-8 w-72 py-3 rounded-md flex gap-2 justify-center hover:shadow-accent-blue hover:scale-105 transition-all hover:shadow-2xl bg-accent-blue"
      >
        <img src="../../assets/discord-mark-white.svg" class="w-6" alt="" />
        <div>Continue with Discord</div>
      </a>
      <a
        [routerLink]="['/careers']"
        class="px-8 w-72 py-3 text-black rounded-md bg-accent-green hover:scale-105 hover:shadow-accent-green hover:shadow-2xl transition-all"
      >
        Continue with Email
      </a>
    </div>
  </div>
</div>
