<footer class="flex justify-center items-center bg-accent-gray text-sm">
  <div class="w-[65%] py-8">
    <div class="flex gap-10 pb-6">
      <div>
        <div>Billing & General Support</div>
        <div class="font-bold">hello@xtrades.net</div>
      </div>
      <address class="not-italic">
        <div>Los Angeles, CA 90028</div>
        <div class="font-bold">1-530-723-5499</div>
      </address>
      <a>Terms & Conditions</a>
      <a>Refund Policy</a>
      <a>Privacy Policy</a>
    </div>
    <div class="flex justify-between">
      <span>© Copyright 2022 - Xtrades. All rights reserved.</span>
      <span
        ><a href="" class="pl-3"
          ><img
            loading="lazy"
            class="w-6 inline-block"
            src="../../assets/fb.svg"
            alt="Facebook Link" /></a
        ><a href="" class="pl-3"
          ><img
            loading="lazy"
            class="w-6 inline-block"
            src="../../assets/twt.svg"
            alt="Twitter Link" /></a
        ><a href="" class="pl-3"
          ><img
            loading="lazy"
            src="../../assets/ig.svg"
            alt="Instagram Link"
            class="w-6 bg-white rounded-md inline-block" /></a
        ><a href="" class="pl-3"
          ><img
            loading="lazy"
            src="../../assets/linked-in.svg"
            alt="LinkedIn Link"
            class="w-6 inline-block" /></a
      ></span>
    </div>
  </div>
</footer>
